
<li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
    href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
        class="hide-menu">Category </span></a>
<ul aria-expanded="false" class="collapse  first-level">
    <li class="sidebar-item"><a href="/category/addcategorypage" class="sidebar-link"><i
                class="mdi mdi-note-outline"></i><span class="hide-menu">Add Category
            </span></a></li>
    <li class="sidebar-item"><a href="/category" class="sidebar-link"><i
                class="mdi mdi-note-plus"></i><span class="hide-menu">View Category
            </span></a></li>
</ul>
</li>

<li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
    href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
        class="hide-menu">Subcategory </span></a>
<ul aria-expanded="false" class="collapse  first-level">
    <li class="sidebar-item"><a href="/subcategory/addsubcategorypage"
            class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                class="hide-menu">Add Subcategory
            </span></a></li>
    <li class="sidebar-item"><a href="/subcategory" class="sidebar-link"><i
                class="mdi mdi-note-plus"></i><span class="hide-menu">View Subcategory
            </span></a></li>
</ul>
</li>
<!-- Subcategory end -->

<!-- exsubcategory start -->
<li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
    href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
        class="hide-menu">Exsubcategory </span></a>
<ul aria-expanded="false" class="collapse  first-level">
    <li class="sidebar-item"><a href="/exsubcategory/addexsubcategorypage"
            class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                class="hide-menu">Add Exsubcategory
            </span></a></li>
    <li class="sidebar-item"><a href="/exsubcategory" class="sidebar-link"><i
                class="mdi mdi-note-plus"></i><span class="hide-menu">View Exsubcategory
            </span></a></li>
</ul>
</li>